---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<html>
  <head>
    <title>Blog | Hekatek</title>
  </head>
  <body>
    <h1>Blog</h1>
    <p>Explore our latest insights, tips, and updates.</p>

    <ul>
      {posts.map((post) => (
        <li key={post.id}>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>
