---
import heroImage from "../../assets/hero-source.svg";
import Button from "../Button.astro";
---

<main
 >
  <div >
    <img
      src={heroImage.src}
      alt="Astronaut in the air"
    >
  </div>
  <div>
    <Button
    href=""
    size="lg"
    style="primary"
    block
    />

    <h1
     >
      Marketing website done with Astro
    </h1>
    <p >
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly
      create any website with this starter.
    </p>
    <div >
     
    </div>
  </div>
</main>